@import "../Login/style.css";

.register-form {
  height: 300px;
}

.input-default {
  width: 348px;
  height: 49px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 24.5px;
  padding: 0 1rem;
}

.form-age-gender-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.age-input {
  width: 112px;
}

.gender-input {
  width: 218px;
}

.button-default,
.button-secondary {
  width: 114px;
  height: 29px;
  background-color: #85edfb;
  backdrop-filter: blur(4px);
  border-radius: 14.5px;
  border: 0;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button-default:hover {
  background-color: #3595a2;
}

.button-secondary {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-secondary:hover {
  background-color: #454149;
}

.form-actions {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
