@import "../../Login//style.css";

.client-card {
  width: 253px;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 0px 7px 25px rgba(196, 196, 196, 0.56);
  border-radius: 10px;
  margin: 0.6rem 0.4rem;
  position: relative;
  padding: 0.5rem;
  box-sizing: border-box;
}

.client-card-action {
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  background-color: #85edfb;
  position: absolute;
  right: 0;
  top: -10px;
  color: #fff;
  cursor: pointer;
}

.client-card-action-checked {
  background-color: #8be77c;
}

.client-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 0.5rem 0;
}

.client-type {
  display: block;
  font-weight: 300;
  font-size: 18px;
  color: #8c8c8c;
  padding: 0.5rem 0;
}

.preferences {
  padding: 0.25rem 0;
}

.preferences h4 {
  font-size: 18px;
  line-height: 21px;
  color: #454149;
}

.preferences ul {
  padding-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.preferences ul li {
  padding: 0.25rem 0;
  color: #8c8c8c;
}
