.login-register-container {
  width: 100%;
  max-width: 840px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-register-text {
  max-width: 414px;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #454149;
}

.login-register-form {
  max-width: 348px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.input-default {
  width: 348px;
  height: 49px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 24.5px;
  padding: 0 1rem;
}

.button-default,
.button-secondary {
  width: 114px;
  height: 29px;
  background-color: #85edfb;
  backdrop-filter: blur(4px);
  border-radius: 14.5px;
  border: 0;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button-default:hover {
  background-color: #3595a2;
}

.button-secondary {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-secondary:hover {
  background-color: #454149;
}

.form-actions {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.spin {
  animation: span-animation 1s infinite linear;
}

@keyframes span-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
